
   ul { color: grey; 
   list-style-type: none; 
    margin: 0;
   padding:0; }
   li {
      display: inline; 
   }
   .navigation { 
    position: fixed; 
    top: 0; 
    width: 95%;
    text-align: right;
    }
   .footer { position: fixed; bottom:0; width: 100%; }
   img { 
       position: fixed;
       top: 50%;
       left: 50%; 
       transform: translate(-50%, -80%); 
   }
   input {
    position: fixed;
    top: 60%;
    left: 50%; 
    transform: translate(-50%, -60%); 
   }