
   ul { color: grey; 
   list-style-type: none; 
    margin: 0;
   padding:15px;
   text-decoration: none;
 }
   li {
      display: inline-block; 
      padding: 10px;
   }
   .navigation { 
    position: fixed; 
    top: 0; 
    width: 95%;
    text-align: right;
    color: rgba (0,0,0,0.87);
    text-decoration: none;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-size: 13px; 
   }
   .footer { 
      position: fixed; 
      bottom:0; 
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      cursor: pointer;
      font-size: 14px;  
   }
   img { 
       position: fixed;
       top: 40%;
       left: 50%; 
       transform: translate(-50%, -80%); 
   }
   input {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -60%); 
    width: 40%; 
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; 
    border-radius: 32px;
    background-image: url(searchicon.png);
    background-position: 10px 10px;
    padding-left: 40px;
    background-color: white; 
    background-repeat: no-repeat;
    box-shadow: none ;
   }
 button {
    position: fixed;
    top: 60%;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    background-color: #f2f2f2;
    color: #5f6368;
 }
 a:visited
 {
    color: grey; 
    text-decoration: none;
 }
 #search
 {left: 40%; }
 #lucky
 {left: 50%; }